* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
}

h1 {
    margin-bottom: 10px;
}

p {
    font-size: medium;
    margin-bottom: 35px;

}

img {

    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

figcaption {
    display: block;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}


#headline {
    margin-top: 50px;
    text-align: center;
}

ul {

    font-size: large;
    max-width: 720px;
    margin: 20px auto 50px auto;
    text-align: left;
    line-height: 2.5;
}

blockquote {
    max-width: 600px;
    margin: 100px auto 50px auto;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}

cite {
    padding-bottom: 100px;
    max-width: 250px;
    margin-left: 36%;
    font-style: italic;
    font-size: 18px;
}

footer {

    text-align: center;
    margin-top: 100px;
    padding: 0 auto 0 auto;
    border-radius: 10px;
    background: #D7D7D7;
}